.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 768px) {
  .fs-sm-1 {
    font-size: 1em;
  }

  .fs-sm-2 {
    font-size: 1.5em;
  }

  .fs-sm-3 {
    font-size: 2em;
  }

  .fs-sm-4 {
    font-size: 3em;
  }

  .fs-sm-5 {
    font-size: 4em;
  }

  .fs-sm-6 {
    font-size: 5em;
  }
}

.scroll-custom {
  overflow-y: auto; /* Habilitar rolagem vertical */
}

.scroll-custom::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: #888;
}

.scroll-custom::-webkit-scrollbar-track {
  background: #e0e0e0;
}
