:root {
  --mikado-yellow: #fdc500;
  --indigo-light: #5c0099;
  --indigo-mid: #510087;
  --indigo-dark: #3d0066;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.indigo-light-color {
  color: var(--indigo-light);
}
.indigo-mid-color {
  color: var(--indigo-mid);
}
.indigo-dark-color {
  color: var(--indigo-dark);
}
.indigo-light-bg {
  background-color: var(--indigo-light);
}
.indigo-mid-bg {
  background-color: var(--indigo-mid);
}
.indigo-dark-bg {
  background-color: var(--indigo-dark);
}
.mikado-yellow-color {
  color: var(--mikado-yellow);
}
.mikado-yellow-bg {
  background-color: var(--mikado-yellow);
}

.point {
  cursor: pointer;
}

.w-30-p {
  width: 30px;
}

.h-30-p {
  height: 30px;
}

.radius-button-yellow {
  width: 55px;
  height: 55px;
  border: 2px solid #fdc500;
  border-radius: 50%;
}
